<div class="card">
    <div class="card__image-holder" style="padding-bottom: 90%">
      <img class="card__image" src="../images/teachers/teacher-2.jpg" alt="wave"/>
    </div>
    <div class="card-title" style="height: 92px; width:100%">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        <p>{{ .Params.Cargo }}</p> 
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        <p> Presidente </p>
        <p> Juntos por el Cambio </p>
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">Leer Más</a>
        </div>
      </div>
    </div>
  </div>