{{ define "main" }}
{{ partial "otro_link.html" .}}
<section class="section">
  
  <div id="demo">
    <div>
    <h1 style="font-size: 2.81rem;"> HONORABLE CONCEJO DELIBERANTE DE TIGRE </h1>
    <h2 style="font-size: 2.51rem;"> NOMINA DE AUTORIDADES </h2>
    <h5 style="text-align: center; color: black">A partir del 10 de diciembre del 2021</h5>
    <br>
    <div class="border-bottom"></div>
    <br>
    
    <div>
      <h4 style="float: left;">Presidente:</h4>
      <p style="font-size: 20px; line-height: 1;"> &nbsp; Concejal Segundo Cernadas </p>
    </div>
    <div>
      <h4 style="float: left;">Vicepresidente 1°:</h4>
      <p style="font-size: 20px; line-height: 1"> &nbsp; Concejal Fernando Mantelli </p>
    </div>
    <div>
      <h4 style="float: left;">Vicepresidenta 2°:</h4>
      <p style="font-size: 20px; line-height: 1"> &nbsp; Concejala Sofía Bravo Adamoli </p>
    </div>
    <div>
      <h4 style="float: left;">Secretario:</h4>
      <a href="/concejales/leonardo-gui/">
      <p style="font-size: 20px; line-height: 1"> &nbsp; Dr. Leonardo Gui </p>
      </a>
    </div>
    <div>
      <h4 style="float: left;">Prosecretaria:</h4>
      <p style="font-size: 20px; line-height: 1"> &nbsp; Concejala Sandra Rossi </p>
    </div>
    <br>
    </div>
    
    <div class="table-responsive shadow-z-1" style="margin: 0px 5%">
   
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>BLOQUE FRENTE DE TODOS (12 Concejales)</th>

          </tr>
        </thead>
        <tbody>
          <tr>
           
            <td><a href="/concejales/gisela-zamora">
              <strong>Presidente:</strong> Gisela Zamora</a>
            </td>

           
          </tr>
          <tr>
           
            <td><a href="/concejales/veronica-camaño"><strong>Vicepresidente:</strong> Verónica Caamaño</a>
            </td>
 
           
          </tr>
          <tr>
           
            <td><a href="/concejales/francisco-miranda"><strong>Secretario:</strong> Francisco Fernández</a></td>

          </tr>
          <tr>
           <tr>
            <th><strong>VOCALES:</strong></th>

          </tr>
          <td><a href="/concejales/alejandro-rios">Alejandro Ríos</a></td>

       
           </tr>

          </tr>
            <td><a href="/concejales/rodrigo-alvarez">Rodrigo Álvarez</a></td>

         
          </tr>
          <tr>
   
            <td><a href="/concejales/micaela-ferraro">Micaela Ferraro</a></td>
           
          <tr>
   
            <td><a href="/concejales/victoria-etchart">Victoria Etchart</a></td>

          </tr>
          <tr>
           
            <td><a href="/concejales/fernando-mantelli">Fernando Mantelli</a></td>

          </tr>
          <tr>
           
            <td><a href="/concejales/mayra-mariani">Mayra Mariani</a></td>

          </tr>
          <tr>
           
            <td><a href="/concejales/rodrigo-molinos">Rodrigo Molinos</a></td>

          </tr>
      <tr>
           
            <td><a href="/concejales/sandra-rossi">Sandra Rossi</a></td>
           
          </tr>
           <tr>
           
            <td><a href="/concejales/florencia-mosqueda">María Florencia Mosqueda</a></td>
           

          </tr>
        </tbody>
      </table>

    </div>

    <div class="table-responsive shadow-z-1" style="margin: 0px 5%">
   
      <table id="table" class="table table-hover table-mc-light-blue">
          <thead>
            <tr>
              <th>BLOQUE JUNTOS (12 Concejales)</th>
  
            </tr>
          </thead>
          <tbody>
            <tr>
             
              <td><a href="/concejales/ana-maria-ramos-fernandez-costa">
                <strong>Presidenta:</strong> Ana María Ramos Férnandes Costa</a>
              </td>
  
             
            </tr>
            <tr>
             
              <td><a href="/concejales/maximiliano-picco"><strong>Vicepresidente:</strong> Maximiliano Picco</a>
              </td>
   
             
            </tr>
            <tr>
             
              <td><a href="/concejales/juan-furnari"><strong>Secretario:</strong> Juan Furnari </a></td>
  
            </tr>
            <tr>
             <tr>
              <th><strong>VOCALES:</strong></th>
  
            </tr>
              <td><a href="/concejales/marcela-cesare">Marcela Césare</a></td>
            </tr>
            <tr>
     
              <td><a href="/concejales/sofia-bravo-adamoli">Sofía Bravo Adamoli</a></td>
             
            <tr>
     
              <td><a href="/concejales/adolfo-leber">Adolfo Leber</a></td>
  
            </tr>
            <tr>
             
              <td><a href="/concejales/segundo-cernadas">Segundo Cernadas</a></td>
  
            </tr>
            <tr>
             
              <td><a href="/concejales/mariano-pelayo">Mariano Pelayo</a></td>
  
            </tr>
             <tr>
             
              <td><a href="/concejales/ximena-pereyra">Ximena Pereyra</a></td>
  
            </tr>
             <tr>
             
              <td><a href="/concejales/lisandro-lanzon">Lisandro Lanzón</a></td>
  
            </tr>
             <tr>
             
              <td><a href="/concejales/nicolas-massot">Nicolás Massot</a></td>
  
            </tr>
             <tr>
             
              <td><a href="/concejales/josefina-ponde">Josefina Ponde</a></td>
  
            </tr>
          </tbody>
        </table>
  
      </div>


    
  <!-- <div class="container">
    <div class="row">
      <div style="justify-content: justify;">
      <h1>Nómina de Autoridades</h1>
          <div class="row">
            <h4>Presidente: Concejal Pedro Cernadas </h4>
            <h4>Vicepresidente 1°: Concejal Daniel Gambino </h4>
            <h4>Vicepresidente 2°: Concejala Verónica Caamaño </h4>
            <h4>Secretario: Dr. Raúl Eduardo Botelli </h4>
            <h4>Prosecretaria: Concejala Prof. Ana María Ramos Fernándes Costa</h4>
          </div>
      </div>
    </div>
  </div> -->
</section> 
{{ end }}
