{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        ESTO ES AUTORIDADES
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}