{{ define "main" }}
{{ partial "otro_link.html" .}}
<!-- notice -->
<section class="section">
  <div class="container" style="min-height: 750px;">
    <div class="row">
      <div class="card5">
 <h2>Ingresar al Portal de Contacto</h2>

<form action="https://formspree.io/f/xdopljgp" method="POST">
 <div class="input-border">
  <input type="text" id="nombre" name="nombre" class="text" required>
  <label class="label5" for="nombre">Nombre</label>
  <div class="border"></div>
 </div>
 
 <div class="input-border">
  <input id="DNI" type="number" name="DNI" class="text" required>
  <label class="label5" for="DNI" >DNI</label>
  <div class="border"></div>
 </div>

 <div class="input-border">
  <input id="email" type="text" name="email" class="text" required>
  <label class="label5" for="email" >Email</label>
  <div class="border"></div>
 </div>
 
 <input type="submit" class="btn5" value="Entrar">
</form>
 
</div>
     
    </div>

  </div>
</section>
<!-- /notice -->

{{ end }}
