{{ define "main" }}
{{ partial "otro_link.html" .}}

<!-- notice details -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <!-- notice content -->
          <div class="content">
            <h1>{{ .Title}}</h1>
            <br>
            <div class="border-bottom"></div>
            <div class="col-12">
              <h3>Autoridades</h3>
            <ul>
              
              {{ range .Params.puesto }}
              <div>
                <h5 style="float: left;">{{ .puesto }} &nbsp;</h5>
                <p style="font-size: 17px; line-height: 1;">{{ .nombre }} </p>
              </div>
              {{ end }}
              

            <!--{{ range .Params.puesto }}
              
              <li class="text-light" style="padding-left: 0px;"><span class="font-weight-bold" style="color: black;">{{ .puesto }}
                  </span>{{ .nombre }}
              </li>
            
            {{ end }}

            {{ range where site.RegularPages "Params.puesto" "Presidente" }}
            <li class="text-light" style="padding-left: 0px;"><span class="font-weight-bold" style="color: black;">{{ .puesto }}
              </span>{{ .nombre }}
            </li>
            {{ end }} -->

            </ul>
            <div class="border-bottom"></div>
            </div>
            {{ .Content }}
            
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>

<!-- /notice details -->

{{ end }}

