{{ define "main" }}

<!-- notice -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-unstyled">
          <h1>ESTO ES OBSERVATORIO</h1>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /notice -->

{{ end }}